<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="/movie/save" method="post">

    <div>
      Title:
      <input type="text" name="title" id="title">
    </div>
    <div>
      Year:
      <input type="text" name="year" id="year">
    </div>
    <div>
      <button type="submit">speichern</button>
    </div>

  </form>
</body>

</html>